.products_header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  margin: 0 16px;
}

.products_list {
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
}

.form_error {
  color: red;
  font-size: 13px;
}
