.login_form_wrapper {
  justify-content: center;
  margin: 28px;
}

.login_form {
  width: 30%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.login_heading {
  text-align: center;
  font-size: 30px;
  margin: 12px;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
}

.form_label {
  font-weight: 600;
  padding: 6px 0;
}

.form_input {
  padding: 0 8px;
  height: 30px;
  font-size: 16px;
}

.form_submit {
  margin: 16px;
  width: 75%;
  height: 30px;
  background: #6d6de6;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form_error_name {
  color: red;
  font-size: 13px;
}
